*~
/notes.md

# Ignore cached files
/cache

# Cache directory for ext/zcache
.cache/

# Temporary notes while making improvements
/NOTES.md

# Ignore Zsh related files
zsh/zplugin/plugins
zsh/zplugin/root_completions
zsh/zplugin/snippets/plugins
